@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    width: 1536px;
    margin: 0 auto;
    background-color: rgb(245,245,245);
}

/* Nav bar section  */

header nav {
    display: flex;
    justify-content: space-between;
}

nav .nav-title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    padding: 45px 0;
}

nav ul li {
    list-style: none;
    padding: 29px 0;
}

nav ul li a button {
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 17px 36px 17px 36px;
    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-size: 23px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
}

nav ul li a button:hover, nav ul li a button:focus {
    background: rgba(0, 106, 80, 1);
    box-shadow: 0 0 5px rgba(0, 106, 80, 0.719);
    color: rgb(255, 255, 255);
    transition: 0.3s linear;
}

/* banner section */

.banner {
    display: flex;
    padding: 120px 96px;
    gap: 77px;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);

}

.banner-details .sub-title {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 29px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 19px;
}

.banner-details .title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 67px;
    font-weight: 700;
    line-height: 79px;
    margin-bottom: 29px;
}

.banner-details button {
    border: none;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    padding: 21px 40px ;
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
}

.banner-details button:hover, .banner-details button:focus {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 106, 80, 0.719);
    color: rgba(0, 106, 80, 1);
    transition: 0.3s linear;
}

.banner img {
    width: 568px;
    height: 480px;
}

/* pillars section */

.pillars .pillars-title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    margin-top: 96px;
    margin-bottom: 38px;
}

.pillars .pillar-container {
    display: flex;
    gap: 28px;
}

.pillar-container .pillar-card {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 28px;
}

.pillar-card:hover {
    box-shadow: 0 0 20px rgba(14, 14, 14, 0.1);
}

.pillar-container .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 28px;
    margin-bottom: 14px;
}

.pillar-container .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
}

/* The vision of bangladesh section */

.vision-title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    margin-top: 96px;
    margin-bottom: 29px;
}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 38px;
}

.vision .vision-card-container {
    display: flex;
    justify-content: center;
    gap: 29px;
}

.vision-card-container .vision-card {
    border-radius: 16px;
    width: 492px;
    padding: 38px;

}

.vision-card:hover {
    box-shadow: 0 0 20px rgba(14, 14, 14, 0.15);
}

.vision-card .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 29px;
    margin-bottom: 14px;
}

.vision-card .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

.vision button {
    padding: 13px 24px 13px 24px;
    border-radius: 8px;
    font-family: Fira Sans;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

.vision-card-digital {
    background: rgba(84, 144, 245, 0.2);
}

.vision-card-digital button {
    margin-top: 29px;
    background: rgba(84, 144, 245, 1);
}

.vision-card-digital button:hover, .vision-card-digital button:focus {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(84, 144, 245, 1);
    color: rgba(84, 144, 245, 1);
    transition: 0.3s linear;
}

.vision-card-green {

    background: rgba(198, 228, 214, 1);
}

.vision-card-green button {
    margin-top: 57px;
    background: rgba(9, 161, 92, 1);
}

.vision-card-green button:hover, .vision-card-green button:focus {
    background: rgb(245,245,245);
    box-shadow: 0 0 5px rgba(9, 161, 92, 1);
    color:rgba(9, 161, 92, 1);
    transition: 0.3s linear;
}

.vision-card-modern {
    background: rgba(247, 235, 207, 1);
}

.vision-card-modern button {
    margin-top: 29px;
    background: rgba(255, 194, 57, 1);
}

.vision-card-modern button:hover , .vision-card-modern button:focus {
    background: rgb(245,245,245);
    box-shadow: 0 0 5px rgba(255, 194, 57, 1);
    color: rgba(255, 194, 57, 1);
    transition: 0.3s linear;
}

/* Quote section */ 

.quote {
    margin-top: 38px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 29px 29px ;
    background-size: 76px 76px;
}

.quote:hover {
    box-shadow: 0 0 20px rgba(14, 14, 14, 0.15);
}

.quote .details {
    padding: 57px 29px;
}

.quote .main-quote {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

.quote .name {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 14px;
}

.quote .position {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

/* Opinion Section */

.opinion .title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    margin-top: 96px;
    margin-bottom: 24px;
}

.opinion .opinion-table-container {
    border-radius: 16px;
    padding: 38px;
    background: rgba(255, 255, 255, 1);
}

table, td {
    width: 100%;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}

.questions {
    padding: 24px;
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.select {
    padding-left: 0px;
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.select-cell {
    padding: 29px;
}

.select-cell .select-dropdown-wrapper select {
    padding: 14px 19px;
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    background: rgba(198, 228, 214, 1);
}

thead tr {
    background: rgba(198, 228, 214, 1);
}

tbody td {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 43px 29px;
}

/* news section */
.news .title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    margin-top: 96px;
    margin-bottom: 29px;
}

.news .description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 38px;
}

.news .news-container {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.news-container .news-card {
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    padding: 57px;
    display: flex;
    gap: 38px;
}

.news-card .image img {
    border-radius: 24px;
}

/* .news-card .news-details {
    padding: 67px;
} */

.news-card .image img {
    height: 360px;
}

.news-card .news-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 14px;
}

.news-card .time {
    display: flex;
    gap: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

.news-card .news-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 38px;
}

.news-card button {
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    padding: 15px 31px;
    border: none;
    cursor: pointer;
}

.news-card button:hover, .news-card button:focus {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 106, 80, 0.719);
    color: rgba(0, 106, 80, 1);
    transition: 0.3s linear;
}

/* Donate section */

.donate .title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 29px;
}

.donate .details {
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 36px;
    padding: 0 108px;
}

.donate .donate-amount {
    padding: 0 124px;
    display: flex;
    justify-content: center;
    gap: 29px;
}

.donate-amount button {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.donate-amount button:hover {
    background: rgba(0, 106, 80, 1);
    box-shadow: 0 0 5px rgba(0, 106, 80, 1);
    transition: 0.3s linear;
}

.donate-amount button:focus {
    background: rgba(0, 106, 80, 1);
    box-shadow: 0 0 5px rgba(0, 106, 80, 0.719);
    transition: 0.3s linear;
    
}

.donate-amount button h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    padding: 48px;
}

.donate-amount button:hover h1 {
  color: white;
  transition: 0.3s linear;
}

.donate-amount button:focus h1 {
  color: white;
  transition: 0.3s linear;
}

.donate .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-top: 36px;
}

.donate input {
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 1);
    width: 1200px;
    height: 76px;
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.donate input:hover, .donate input:focus {
    box-shadow: 0 0 30px rgba(14, 14, 14, 0.15);
 
}

.donate input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.donate .donate-button {
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    padding: 20px 45px;
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
}

.donate .donate-button:hover, .donate .donate-button:focus {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 106, 80, 0.719);
    color: rgba(0, 106, 80, 1);
    transition: 0.3s linear;
}

/* Newsletter section  */

.newsletter .newsletter-card {
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    margin-top: 96px;
    text-align: center;
    padding: 96px 318px ;
}

.newsletter-card .title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 46px;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 19px;
}

.newsletter-card .description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 29px;
}

.newsletter-card .input-area {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.input-area input {
    width: 720px;
    height: 66px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: rgba(255, 255, 255, 1);
}

.input-area input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 21px 48px;
}

.input-area button {
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    padding: 20px 40px;
    cursor: pointer;
}

.input-area button:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 106, 80, 1);
    box-shadow: 0 0 5px rgba(0, 106, 80, 0.719);
    transition: 0.3s linear;
}

.newsletter-card .footer {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 29px;
}

/* Footer Social media */

.social-media .social {
    margin-top: 60px;
    background: rgba(255, 255, 255, 1);
    padding: 60px 192px;
}

.social-media .title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    margin-bottom: 37px;
}

.social-media hr {
    color: rgba(14, 14, 14, 0.1);
    padding: 0 92px;
    margin-bottom: 36px;
}

.social-media .social-media-links {
    text-align: center;
}

.social-media-links img {
    margin-right: 27px;
}

@media  screen and (max-width: 576px) {
    .vision .vision-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }   

    .news .news-container .news-card {
        display: flex;
        flex-direction: column;
    }

    .news .news-container .direction {
        flex-direction: column-reverse;
    }
}