@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    max-width: 1536px;
    margin: 0 auto;
    background-color: rgb(245,245,245);
}

/* Nav bar section  */

header nav {
    display: flex;
    justify-content: space-between;
}

nav .nav-title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    padding: 45px 0;
}

nav ul li {
    list-style: none;
    padding: 29px 0;
}

nav ul li a button {
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 17px 36px 17px 36px;
    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-size: 23px;
    font-weight: 600;
    line-height: 26px;
}

/* banner section */

.banner {
    display: flex;
    padding: 120px 96px;
    gap: 77px;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);

}

.banner-details .sub-title {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 29px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 19px;
}

.banner-details .title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 67px;
    font-weight: 700;
    line-height: 79px;
    margin-bottom: 29px;
}

.banner-details button {
    border: none;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    padding: 21px 40px ;
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
}

.banner img {
    width: 568px;
    height: 480px;
}

/* pillars section */

.pillars .pillars-title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    margin-top: 96px;
    margin-bottom: 38px;
}

.pillars .pillar-container {
    display: flex;
    gap: 28px;
}

.pillar-container .pillar-card {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 28px;
}

.pillar-card .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 28px;
    margin-bottom: 14px;
}

.pillar-card .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
}